@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import "reset.css";
@import "variable.css";
/* components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/namecard.css";
@import "components/cog_dot.css";
@import "components/icon-row.css";
@import "components/no-mobile.css";
/* screens */
@import "screens/index_form.css";
@import "screens/friends.css";
@import "screens/chats.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat-room.css";

body {
  font-family: "Open Sans", sans-serif;
  height: 150vh;
}
.svg-inline--fa {
  color: #2e363e;
  /* icon에 css를 줄때는 개발자모드로 들어가서 svg class에 띄어쓰기 안한 가장 앞에 
문구를 따오면 css가 적용된다. */
}
